.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12em;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 15px;
}

.nav-bar li {
    float: left;
    width: 6em;
    border-radius: 15px;
}

.nav-bar li a {
    color: black;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

.nav-bar li a:hover {
    border-radius: 15px;
    background-color: #777;
    color: white;
}

.active {
    background-color: lightskyblue;
    color: white;
}