body {
    color: #414141;
    font-family: "San Francisco", sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.item-box  {
    color: #3b3b3b;
    background-color: #bad7e8;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 3px 10px #c2c2c2;
}

.item-box h2 {
    text-align: center;
    margin: 5px;
}

.item-box-accent {
    background-color: #bee6c4;
}

.item-box a:link, a:visited {
    color: gray;
    font-weight: bold;
}

.item-box p {
    margin: 5px 0;
}

.paragraph-list li {
    margin-bottom: 15px;
}

@media only screen and (min-width: 961px) {
    .content {
        width: 960px;
        height: 500px;
        margin: 0 auto;
        flex-direction: column;
    }

    .item-box {
        width: 45%;
    }

    #experience {
        order: 1;
    }
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12em;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 15px;
}

.nav-bar li {
    float: left;
    width: 6em;
    border-radius: 15px;
}

.nav-bar li a {
    color: black;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

.nav-bar li a:hover {
    border-radius: 15px;
    background-color: #777;
    color: white;
}

.active {
    background-color: darkgray;
    color: white;
}
